.axit-stylish-axure-design{
    .axit-axure-design-banner{
        background-image: url("../images/u25_state0.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        max-width: 100%;
        height: auto;
        padding: 60px 0px 60px;
        position: relative;
        @include media-breakpoint-down(md){
            padding: 30px 0;
        }
        &::before{
            content: '';
            background-color: $black;
            opacity: .5;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        h2{
            font-size: 36px;
            color: $white;
            @include media-breakpoint-down(sm){
                font-size: 25px;
            }
        }
        span {
            background-color: $white;
            width: 70px;
            height: 2px;
            display: block;
            margin: 25px auto;
        }
        p{
            font-size: 16px;
            color: $white;
            font-weight: normal;
            margin-bottom: 28px;
            opacity: .6;
        }
        button{
            border: 2px solid $white;
            color: $white;
            font-size: 15px;
            font-family: $open-sans;
            font-weight: 600;
            padding: 10px 30px;
            &:hover{
                background-color: $white;
                color: $black;
            }
        }
    }
}