<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap"
        rel="stylesheet">
    <title>Axit</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <main id="axit-demo">
        <div class="axit-hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-logo">
                            <img src="images/hero-Logo .png">
                        </div>
                        <div class="hero-content-block">
                            <h1 class="text-uppercase">MODERN AXURE TEMPLATE</h1>
                            <h1 class="text-uppercase">FOR BEAUTIFUL PROTOTYPES</h1>
                            <span></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                                accumsan et viverra justo commodo.</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-secondary">Download</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="axit-business-form">
                            <div class="axit-business-form-title">
                                <h2>Try Your <span>FREE</span> Trial Today</h2>
                            </div>
                            <form>
                                <div class="axit-business-from1">
                                    <div class="axit-from-input form-group">
                                        <input class="form-control" type="text" name="" placeholder="Name">
                                    </div>  
                                    <div class="axit-from-input form-group">
                                        <input class="form-control" type="email" name="" placeholder="Email">
                                    </div>
                                    <div class="axit-from-input axit-from-psw form-group">
                                        <input class="form-control" type="password" name="" placeholder="Password">
                                    </div>
                                </div>    
                                <div class="axit-from-button">
                                    <a class="text-center" href="#">Get Started</a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- social-icon -->
        <div class="axit-social-icon">
            <div class="container">
                <div class="row axit-social-icon-block">
                    <div class="col-lg-4 axit-social-icon-text">
                        <h6>Social Media</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet.</p>
                    </div>
                    <div class="col-lg-8 axit-social-icon-size">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-pinterest"></i>
                        <i class="fa fa-camera-retro"></i>
                        <i class="far fa-envelope"></i>
                        <i class="fa fa-wifi"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabs with soft transitioning effect. -->
        <div class="axit-tabs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 axit-tabs-and-content">
                      <div class="axit-tabs-list">
                        <div class="axit-tabe-3 active">
                            <span class="text-uppercase">tab-1</span>
                        </div>
                        <div class="axit-tabe-3">
                            <span class="text-uppercase">tab-2</span>
                        </div>
                        <div class="axit-tabe-3">
                            <span class="text-uppercase">tab-3</span>
                        </div>
                      </div>
                      <div class="axit-tabs-content-block">
                        <h6>Tabs with soft transitioning effect.</h6>
                        <p class="axit-tabs-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                            justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
                            penatibus et magnis dis parturient montes.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet.</p>
                        <div class="axit-download-btn">
                            <button type="button" class="btn btn-warning">Download</button>
                        </div>
                      </div>  
                    </div>
                    <div class="col-lg-5 axit-tabs-image">
                        <img src="images/image_right_u255.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- Sub list Section -->
        <div class="axit-sub-list-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 axit-sub-image">
                        <img src="images/image_left_sub_list_u260.png">
                    </div>
                    <div class="col-lg-5">
                        <div class="sub-list-content-block">
                            <h6>Sub list section</h6>
                            <span></span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo.</p>
                        </div>
                        <div class="axit-sub-title axit-sub-first-space">
                            <div class="axit-sub-download-border">
                                <i class="fas fa-cloud-download-alt"></i>
                            </div>
                            <div class="axit-sub-content">
                                <h6>Title</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                    bibendum laoreet.</p>
                            </div>
                        </div>
                        <div class="axit-sub-title">
                            <div class="axit-sub-download-border">
                                <i class="fas fa-cloud-download-alt"></i>
                            </div>
                            <div class="axit-sub-content">
                                <h6>Title</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                                bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Standard Picture Section -->
        <div class="axit-standard-picture-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 sub-standard-picture-block">
                        <h6>Standard Picture Section</h6>
                        <span></span>
                        <p class="axit-picture-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                            justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque
                            penatibus et magnis dis parturient montes.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet.</p>
                    </div>
                    <div class="col-lg-7 axit-picture-image">
                        <img src="images/image_right_standard_u262.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- WHY THIS IS AWESOME -->
        <div class="why-this-awesome">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 why-this-awesome-title text-center">
                        <h2 class="text-uppercase">WHY THIS IS AWESOME</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="row axit-why-this-3-space">
                    <div class="col-lg-4 text-center">
                        <div class="axit-this-awesome-border">
                            <i class="fas fa-golf-ball"></i>
                        </div>
                        <div class="axit-this-awesome-content">
                            <h6>Thoughtful Design</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean euismod bibendum laoreet. Proin gravida
                            dolor sit amet lacus accumsan et viverra.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="axit-this-awesome-border">
                            <i class="far fa-keyboard"></i>
                        </div>
                        <div class="axit-this-awesome-content">
                            <h6>Well Crafted</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean euismod bibendum laoreet. Proin gravida
                            dolor sit amet lacus accumsan et viverra.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="axit-this-awesome-border">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                        </div>
                        <div class="axit-this-awesome-content">
                            <h6>Easy to Customize</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Aenean euismod bibendum laoreet. Proin gravida
                            dolor sit amet lacus accumsan et viverra.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PRICING OPTIONS -->
        <div class="axit-pricing-options">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 axit-pricing-options-title text-center">
                        <h2 class="text-uppercase">PRICING OPTIONS</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="row axit-pricong-options-box">
                    <div class="col-lg-4 axit-pricing axit-basic-enterprise-space">
                        <ul class="price">
                            <li class="header">Basic</li>
                            <li class="grey"><sub>$</sub>0<span class="text-capitalize">free for Life</span></li>
                            <li class="text-uppercase">1 gb of space</li>
                            <li class="text-uppercase">10 gb of bandwidth</li>
                            <li class="text-uppercase">3 websites</li>
                            <li class="text-uppercase">Basic Customization</li>
                            <li class="text-uppercase">wordpress integration</li>
                            <li class="text-uppercase">email support</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 axit-pricing">
                        <ul class="price">
                            <li class="header">Professional</li>
                            <li class="grey"><sub>$</sub>19<span class="text-capitalize">Monthly Payment</span></li>
                            <li class="text-uppercase orange">OUR MOST POPULAR</li>
                            <li class="text-uppercase">5 gb of space</li>
                            <li class="text-uppercase">50 gb of bandwidth</li>
                            <li class="text-uppercase">12 websites</li>
                            <li class="text-uppercase">Advanced Customization</li>
                            <li class="text-uppercase">wordpress integration</li>
                            <li class="text-uppercase">email support</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 axit-pricing axit-basic-enterprise-space">
                        <ul class="price">
                            <li class="header">Enterprise</li>
                            <li class="grey"><sub>$</sub>70<span class="text-capitalize">Monthly Payment</span></li>
                            <li class="text-uppercase">Unlimited space</li>
                            <li class="text-uppercase">unlimited bandwidth</li>
                            <li class="text-uppercase">100 websites</li>
                            <li class="text-uppercase">Advanced Customization</li>
                            <li class="text-uppercase">wordpress integration</li>
                            <li class="text-uppercase">24/7 customer support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- WHAT OUR CUSTOMERS ARE SAYING -->
        <div class="customers-are-saying">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 customers-are-saying-title text-center">
                        <h2 class="text-uppercase">WHAT OUR CUSTOMERS ARE SAYING</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="row axit-author-part">
                    <div class="col-lg-4 axit-customers-saying-block">
                        <div class="axit-customers-saying-content">
                            <p>Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Doloribus
                            accusamus expedita repellat similique
                            odio aspernatur ex, architecto eaque
                            quo suscipit.</p>
                        </div>
                        <div class="axit-author">
                            <img src="images/avatar_2_u231.png">
                            <div class="axit-author-name">
                                <h3>Jeremy H.</h3>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 axit-customers-saying-block">
                        <div class="axit-customers-saying-content">
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Doloribus
                                accusamus expedita repellat similique
                                odio aspernatur ex, architecto eaque
                                quo suscipit.</p>
                        </div>
                        <div class="axit-author">
                            <img src="images/avatar_2_u231.png">
                            <div class="axit-author-name">
                                <h3>John S.</h3>
                                <span>Freelancer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 axit-customers-saying-block">
                        <div class="axit-customers-saying-content">
                            <p>Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Doloribus
                                accusamus expedita repellat similique
                                odio aspernatur ex, architecto eaque
                                quo suscipit.</p>
                        </div>
                        <div class="axit-author">
                            <img src="images/avatar_2_u231.png">
                            <div class="axit-author-name">
                                <h3>Susan W.</h3>
                                <span>Photographer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- STYLISH AXURE DESIGN -->
        <div class="axit-stylish-axure-design">
            <div class="axit-axure-design-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="text-uppercase">STYLISH AXURE DESIGN</h2>
                            <span></span>
                            <p>Use the sections you need, remove the ones you don't. Create gorgeous prototypes faster than ever!</p>
                            <div>
                                <button type="button" class="btn btn-outline-secondary">Secondary</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTECT US -->
        <div class="axit-contect-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-uppercase">CONTECT US</h2>
                        <span></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="axit-contect-us-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="axit-contact-form form-group">
                                    <input class="form-control" type="text" name="" placeholder="Name">
                                </div>
                                <div class="axit-contact-form form-group">
                                    <input class="form-control" type="text" name="" placeholder="Email">
                                </div>
                                <div class="axit-contact-form form-group">
                                    <input class="form-control" type="text" name="" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="axit-contact-form form-group">
                                    <textarea class="form-control" type="text" name="" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="axit-download-btn m-auto">
                                <button type="button" class="btn btn-warning">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Footer social icon -->
        <div class="axit-footer-social-icon">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 axit-footer-social-icon m-auto text-center">
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li><i class="fab fa-pinterest"></i></li>
                            <li><i class="fa fa-camera-retro"></i></li>
                            <li><i class="far fa-envelope"></i></li>
                            <li><i class="fa fa-wifi"></i></li>
                        </ul>
                        <span class="text-center">© 2015 Axure Themes</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- <% include /src/include/footer.ejs %> -->

    <% include /src/include/scripts.ejs %>
</body>

</html>